<h2>Preprints</h2>

{% for paper in site.data.arxiv %}

<div style="margin-bottom:25px;">

<strong>{{ paper.title }}</strong><br>

{{ paper.authors }}<br>

{% if paper.journal != "" %}
{{ paper.journal }}<br>
{% else %}
{{ paper.status }}<br>
{% endif %}

<a href="https://arxiv.org/abs/{{ paper.arxiv }}">Abstract</a>
|
<a href="https://arxiv.org/pdf/{{ paper.arxiv }}.pdf">PDF</a>
|
<a href="https://arxiv.org/abs/{{ paper.arxiv }}">arXiv:{{ paper.arxiv }}</a>

{% if paper.doi != "" %}
|
<a href="https://doi.org/{{ paper.doi }}">DOI</a>
{% endif %}

</div>

{% endfor %}
