<div class="swiper {{ include.class | default: 'hero-swiper' }}">

  <div class="swiper-wrapper">

    {% assign slideshow_data = site.data[include.data] %}

    {% for slide in slideshow_data.slides %}

      <div class="swiper-slide">

        <img
          src="{{ slide.image | relative_url }}"
          alt="{{ slide.alt | default: 'Slideshow image' }}">

      </div>

    {% endfor %}

  </div>

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>

  <div class="swiper-button-next"></div>

</div>
