---
layout: default
author_profile: true
---

{% include base_path %}

{% assign cc = nil %}
{% for x in site.data.teaching %}
  {% if x.code == page.code %}{% assign cc = x %}{% endif %}
{% endfor %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page">
    <div class="page__inner-wrap">
      <header>
        <h1 class="page__title">{{ page.code }}{% if cc %}: {{ cc.title }}{% endif %}</h1>
        {% if cc.programme %}<p class="course-page__meta">{{ cc.programme }}</p>{% endif %}
        {% if cc.note %}<p class="course-page__meta">{{ cc.note }}</p>{% endif %}
      </header>

      <section class="page__content">
        {{ content }}

        {% include course_files.html code=page.code title="Lecture notes" %}
        {% include course_files.html code=page.code sub="assignments" title="Assignments" %}

        {% if page.links %}
        <h2>External resources</h2>
        <ul class="resource-list">
          {% for l in page.links %}
          <li>
            <a href="{{ l.url }}" target="_blank" rel="noopener">
              {{ l.title }}{% if l.by %}<span class="resource-by"> &mdash; {{ l.by }}</span>{% endif %}
              <span class="resource-ext">LINK</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if page.books %}
        <h2>Books and references</h2>
        <ul class="book-list">
          {% for b in page.books %}<li>{{ b }}</li>{% endfor %}
        </ul>
        {% endif %}
      </section>
    </div>
  </article>
</div>
